---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/layout-admin/Header";
import AddLP from "../../components/media/form/add-form/AddLP.jsx";
---

<Layout title="Them san pham">
  <Header />
  <main>
    <h2
      style="font-family:Times New Roman Bold; color: #3498db; background-color: #ecf0f1; padding: 10px; text-align: center; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);"
    >
      Create New LP
    </h2>
    <AddLP client:load />
  </main>
</Layout>
