---
import Layout from "../../layouts/Layout.astro";
import AdminNavbar from "../../components/admin/adminNavbar";
import "../../../assets/scss/astro-ecommerce.scss";
import UserTable from "../../components/admin/userTable";
import {
    CreateUserModal,
    ViewUserModal,
} from "../../components/admin/userModal";

const data = await fetch(
    "http://localhost:8080/api/v1/user/all?page=0&size=100"
);
const response = await data.json();
const result = response.result;
---

<script>
    import {
        deleteUser,
        createUser,
        getUser,
    } from "../../components/admin/crudUtils";

    document
        .getElementById("submitCreateUser")
        ?.addEventListener("click", async function (event) {
            let form = (event.target as Element).parentNode;
            const user = {
                name: (form?.querySelector("#name") as HTMLInputElement).value,
                email: (form?.querySelector("#email") as HTMLInputElement)
                    .value,
                phoneNumber: (
                    form?.querySelector("#phoneNumber") as HTMLInputElement
                ).value,
                password: (form?.querySelector("#password") as HTMLInputElement)
                    .value,
                role: (form?.querySelector("#role") as HTMLInputElement).value,
            };

            await createUser(user);
        });

    Array.from(document.getElementsByClassName("infoButton")).forEach(
        (button) => {
            button.setAttribute('data-bs-toggle', 'modal'),
            button.setAttribute('data-bs-target', `#viewUserModal${button.id.slice(5)}`)
            // button.addEventListener("click", async function (event) {
            //     console.log(button.id.slice(5));
            //     const user = await getUser(Number(button.id.slice(5)));
            //     console.log("getUser", user);
            //     document.getElementById(`viewUserModal${button.id.slice(5)}`)?.setAttribute('aria-hidden', 'false')
            //     // let row = (event.target as Element).parentNode?.parentNode;
            //     // let form = document.getElementById('userForm')
            //     // let inputs = form?.getElementsByTagName('input')
            //     // if (inputs) {
            //     //     inputs[0].value = String(row?.querySelector('#name')?.textContent)
            //     //     inputs[0].value = String(row?.querySelector('#name')?.textContent)
            //     //     inputs[0].value = String(row?.querySelector('#name')?.textContent)
            //     //     inputs[0].value = String(row?.querySelector('#name')?.textContent)
            //     //     inputs[0].value = String(row?.querySelector('#name')?.textContent)
            //     // }
            // });
        }
    );

    Array.from(document.getElementsByClassName("deleteButton")).forEach(
        (button) => {
            button.addEventListener("click", () => {
                deleteUser(Number(button.id.slice(7)));
            });
        }
    );
</script>

<Layout title="Manage user">
    <main>
        <AdminNavbar />
        <div class="container my-3">
            <CreateUserModal />
            {result.userList.map((user: any) => <ViewUserModal user={user} />)}
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button
                        class="btn btn-dark btn-md"
                        data-bs-toggle="modal"
                        data-bs-target="#createUserModal"
                        id="createUserButton">Create user</button
                    >
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {(<UserTable users={result.userList} />)}
                </div>
            </div>
        </div>
    </main>
</Layout>
