---
import Layout from '../layouts/Layout.astro'
import AdminNavbar from '../components/admin/adminNavbar';
import '../../assets/scss/astro-ecommerce.scss';

---
<script>
    const role = localStorage.getItem("role")
    if (role?.includes("product manager")) {
        location.href = "management/home"
    } else {
        location.href = "management/manage-user"
    }
</script>
<Layout title='Admin'>
    <main>
        <AdminNavbar />
    </main>
</Layout>