---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import ComplexNavbar from "../components/complexNavbar";
import CategoryFilters from "../components/products/categoryFilters";
import CheckoutMultiStep from "../components/checkout/checkoutMultiStep";

let cartItems2 = [];
data.shoppingCart2.map(id =>
    data.products.filter(x => x.id == id).map(x => cartItems2.push(x))
)
---

<Layout title="Thanh toán">
  <main>
    <ComplexNavbar />
    <div class="container mt-5">
      <div class="pb-4">
        <h3>Thanh toán</h3>
      </div>
      <CheckoutMultiStep
          products = {cartItems2}
      />
    </div>
  </main>

</Layout>