---
import Layout from "../layouts/Layout.astro";
import '../../assets/scss/astro-ecommerce.scss';
import ComplexNavbar from "../components/complexNavbar";
import PromoSectionLarge from '../components/promo/promoSectionLarge';

const BACKEND_URL = "http://localhost:8080/api/v1"
if (!Astro.cookies.has("cartId")){
  const response = await fetch(BACKEND_URL + `/cart`)
  const data = await response.json()
  const cartId = data.result.cartId

  console.log("Card ID: " + cartId)

  Astro.cookies.set("cartId", cartId)
}
---

<Layout title="Trang chủ">
  <main>
    <ComplexNavbar />
    <PromoSectionLarge
        title={"AIMS: An Internet Media Store"}
        full_description={"Nền tảng thương mại điện tử chuyên về mua bán sản phẩm phương tiện truyền thông"}
        pageHeaderBgImg={"../images/image.jpeg"}
        pageHeaderMinVh="100vh"
    />
  </main>

</Layout>
