---
import Layout from "../layouts/Layout.astro";
import '../../assets/scss/astro-ecommerce.scss';
import ComplexNavbar from "../components/complexNavbar";

const BACKEND_URL = "http://localhost:8080/api/v1"
if (!Astro.cookies.has("cartId")){
  const response = await fetch(BACKEND_URL + `/cart`)
  const data = await response.json()
  const cartId = data.result.cartId

  console.log("Card ID: " + cartId)

  Astro.cookies.set("cartId", cartId)
}
---

<Layout title="Trang chủ">
  <main>
    <ComplexNavbar />
  </main>

</Layout>
