---
import Layout from '../layouts/Layout.astro';
import data from '../../src/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import ComplexNavbar from "../components/complexNavbar";
import CategoryFilters from "../components/products/categoryFilters";

let cartItems = [];
data.shoppingCart.map(id =>
    data.products.filter(x => x.id == id).map(x => cartItems.push(x))
)
---

<Layout title="Cửa hàng">
  <main>
    <ComplexNavbar />
    <div class="container mt-5">
      <CategoryFilters
          title="Sản phẩm"
          client:load
      />
    </div>
  </main>

</Layout>